name: Build TS-PCA documentation

on:
  push:
    tags:
    - 'v*.*.*'

  workflow_dispatch:
# I can add figures later in docs
jobs:
  build_docs:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build documentation
        run: |
          cd docs
          python -m pip install -r requirements.txt 
          make html
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with: 
          github_token: ${{ secrets.GITHUB_TOKEN }} 
          publish_dir: docs/_build/html